.section-box{
  margin-bottom: 40px;
  .section-box-content, .section-box-header, .section-box-footer {
    padding: 20px;
    background-color: $color-white;
    border-right: 1px solid $color-brand-border;
    border-left: 1px solid $color-brand-border;
    border-bottom: 1px solid $color-brand-border;
    &:first-child {
      border-top: 1px solid $color-brand-border;
      border-top-left-radius: $border-radius-block;
      border-top-right-radius: $border-radius-block;
    }
    &:last-child {
      border-bottom: 1px solid $color-brand-border;
      border-bottom-left-radius: $border-radius-block;
      border-bottom-right-radius: $border-radius-block;
    }
  }
  h1{
    font-size: $font-size-h4;
    margin: 4px 0;
    padding: 0;
  }
}

.righted{
  float:right;
}