@import "../variables.scss";

.box{
  margin-bottom: 40px;
  border-radius: $border-radius-block;
  .box-content, .box-body, .box-header, .box-footer, .box-section {
    padding: 20px;
    background-color: $color-white;
    border-right: 1px solid $color-brand-border;
    border-left: 1px solid $color-brand-border;
    border-bottom: 1px solid $color-brand-border;
    &:first-child {
      border-top: 1px solid $color-brand-border;
      border-top-left-radius: $border-radius-block;
      border-top-right-radius: $border-radius-block;
    }
    &:last-child {
      border-bottom: 1px solid $color-brand-border;
      border-bottom-left-radius: $border-radius-block;
      border-bottom-right-radius: $border-radius-block;
    }
    &.no-padding{
      padding:0;
    }
    .box-title{
      margin-bottom: 20px;
      border-bottom:1px solid $color-brand-border;
      &.no-margin-bottom{
        margin-bottom: 0;
      }
      h1, h2{
        margin:0;
        padding: 0;
        font-size: 18px;
        font-weight: bold;
        line-height:32px;
        margin-bottom: 15px;
      }
    }
  }
}