@import "../variables.scss";

a, .link {
  cursor: pointer;
  color: $color-brand-blue;
  text-decoration: none;
  display: inline;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  &:hover {
    text-decoration: underline;
  }
  &.grey {
    color: $color-text-grey;
  }
  &.small {
    font-size: $font-size-small;
  }
  &.red {
    color: $color-brand-red;
  }
}