@import "../variables.scss";

.activity-card {
  margin-bottom: 40px;

  .activity-card-section {

    padding: 20px;
    border-right: 1px solid $color-brand-border;
    border-left: 1px solid $color-brand-border;
    border-bottom: 1px solid $color-brand-border;
    background-color: $color-white;

    &.activity-card-cover {
      padding: 0;
      border: none;
      overflow: hidden;
      position: relative;
      border-top-left-radius: $border-radius-block;
      border-top-right-radius: $border-radius-block;
      min-height: 200px;
      background-color: $color-brand-border;

      img.activity-card-cover-image {
        display:block;
        margin:0;
        padding:0;
        width:100%;
        height: auto;
      }

      .activity-like-mark {
        position: absolute;
        top: 20px;
        right: 20px;
        button {
          font-size: $font-size-big;
          color: $color-white;
          cursor: pointer;
          border: none;
          background-color: transparent;
          margin: 0;
          padding: 0;
        }
      }
      .activity-discount-badge {
        position: absolute;
        top: 20px;
        left: 20px;
      }
      .no-prepayment-badge {
        position: absolute;
        bottom: 12px;
        left: 20px;
      }
      .free-cancel-badge {
        position: absolute;
        bottom: 12px;
        right: 20px;
      }
    }

    &.activity-card-basics {

      .activity-company {
        font-size: $font-size-small;
        line-height: 20px;
        color: $color-text-grey;
      }
      .activity-name {
        line-height: 32px;
        a {
          color: $color-text-default;
          font-weight: bold;
          font-size: $font-size-big;
        }
      }
      .activity-address {
        line-height: 20px;
        font-size: $font-size-small;
      }
    }

    &.activity-card-info {
      .activity-category {

      }
      .activity-price {
        display: block;
        float: right;
        font-weight: bold;
        color: $color-brand-green;
      }
    }

    &.activity-card-score {
      display: flex;
      .activity-rating-none {
        font-size: $font-size-small;
        padding: 9px;
      }
      .activity-rating {
        width: 35%;
        flex: 0 0 35%;
        .badge{
          padding: 2px 8px;
        }
        .activity-responses {
          font-size: $font-size-small;
          margin-left: 8px;
        }
      }
      .activity-latest-comment {
        width: 65%;
        flex: 0 0 65%;
        .avatar-container {
          float: left;
          height: 32px;
          width: 32px;
          border-radius: 50%;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
          }
        }
        p {
          margin: 0;
          margin-left: 40px;
          font-size: $font-size-small;
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid $color-brand-border;
      border-bottom-left-radius: $border-radius-block;
      border-bottom-right-radius: $border-radius-block;
    }
  }
}

//Mobile styles
@media (max-width: $width-max-m) {

}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {

}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) {

}