@import "../variables.scss";

.header {
  background-color: $color-brand-board;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  &.transparent {
    background-color: transparent;
  }

  .logo {
    height: 48px;
    margin: 18px 0;
    display: inline-block;
    h1 {
      margin: 0;
      padding: 0;
    }
    img {
      height: 100%;
      width: auto;
    }
  }

  .top-menu-toggle {
    padding: 0;
    margin: 0;
    margin-top: 28px;
    border: none;
    font-size: 28px;
    border-radius: unset;
    background-color: transparent;
    color: $color-white;
    float: right;
    cursor: pointer;
    .zmdi-close{
      display: none;
    }
  }

  .top-menu {
    float: right;
    .top-menu-item {
      position: relative;
      display: block;
      float: left;
      margin: 0 26px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      > a {
        display: inline-block;
        color: $color-white;
        font-size: $font-size-default;
        text-decoration: none;
        margin: 32px 0;
      }
      > button {
        cursor: pointer;
        display: inline-block;
        color: $color-white;
        font-size: $font-size-default;
        padding: 12px 22px;
        margin: 20px 0;
        background-color: transparent;
        border-radius: $border-radius-button;
        border: 1px dashed $color-white;
        position: relative;
        &.link {
          padding: 0;
          margin: 32px 0;
          border: none;
        }
        &.icon {
          padding: 0;
          margin: 0;
          margin-top: 28px;
          border: none;
          font-size: $font-size-big + 6;
          border-radius: unset;
          .attention-mark {
            color: $color-brand-red;
            font-size: 14px;
            position: absolute;
            top: 0;
            right: -6px;
          }
        }
      }
      .avatar {
        height: 48px;
        width: 48px;
        border: 3px solid $color-white;
        background-color: $color-text-grey;
        border-radius: 50%;
        display: inline-block;
        float: left;
        overflow: hidden;
        margin: 0;
        margin-top: 18px;
        img {
          height: 100%;
          width: auto;
        }
      }
      .username {
        display: inline-block;
        color: $color-white;
        font-size: $font-size-default;
        float: left;
        margin: 32px 12px;
      }
      .notifications {
        position: absolute;
        top: 100%;
        width: 300px;
        display: none;
        .notifications-item {
          position: relative;
          background-color: $color-white;
          box-sizing: border-box;
          padding: 20px;
          border-left: 1px solid $color-brand-border;
          border-right: 1px solid $color-brand-border;
          border-top: 1px solid $color-brand-border;
          &:first-child {
            border-top-left-radius: $border-radius-button;
            border-top-right-radius: $border-radius-button;
          }
          &:last-child {
            border-bottom-left-radius: $border-radius-button;
            border-bottom-right-radius: $border-radius-button;
            border-bottom: 1px solid $color-brand-border;
          }
          .notification-mark {
            position: absolute;
            right: 20px;
            top: 20px;
            border-radius: 50%;
            height: 28px;
            width: 28px;
            font-size: 20px;
            text-align: center;
            background-color: $color-text-grey;
            color: $color-white;
            &.rejected {
              background-color: $color-brand-red;
            }
            &.accepted {
              background-color: $color-brand-green;
            }
            i {
              margin-top: 4px;
            }
          }
          .notification-date {
            color: $color-text-grey;
            font-size: $font-size-small;
            margin-bottom: 4px;
          }
          .notification-link {
            font-weight: bold;
            margin-bottom: 4px;
          }
          .notification-message {
            font-size: $font-size-small;
          }
        }
      }
    }
  }

}

.header-height-holder {
  height: 88px;
}

//Mobile styles
@media (max-width: $width-max-m) {

}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {

}

//Tablet & mobile styles
@media (min-width: $width-min-m) and (max-width: $width-max-t) {
  .header {

    &.opened{
      background-color: $color-brand-board;
      &.transparent{
        background-color: $color-brand-board;
      }
      .top-menu-toggle{
        .zmdi-close{
          display: inline;
        }
        .zmdi-menu{
          display: none;
        }
      }
      .top-menu {
        display:block;
      }
    }

    .top-menu {
      box-shadow: inset 0 5px 5px rgba(0,0,0,0.2);
      display:none;
      position: absolute;
      top: 100%;
      left: 0;
      width:100%;
      padding: 30px;
      background-color: $color-brand-board;
      box-sizing: border-box;
      float: none;
      .top-menu-item{
        box-sizing: border-box;
        height: 24px;
        line-height: 24px;
        position:relative;
        display: block;
        float: none;
        margin: 10px 0;
        padding: 0;
        text-align: right;
        > a {
          display: inline-block;
          color: $color-white;
          font-size: $font-size-default;
          text-decoration: none;
          margin: 0;
        }
      }
    }
  }
}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) and (max-width: $width-max-d) {

}

