@import "../variables.scss";

//Main container
.page-404 {
  margin-bottom: 20px;
  div.width-holder {
    background-image: url('../img/404-bg.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  .page-message {
    margin-top: 280px;
    margin-bottom: 280px;
    p {
      line-height: 32px;
    }
    p.strong {
      font-weight: bold;
      font-size: $font-size-big;
    }
    ul {
      padding: 0;
      li {
        padding: 0;
        list-style: none;
        line-height: 32px;
      }
    }
  }

  .glyph-container {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }

}

//Mobile styles
@media (max-width: $width-max-m) {
  .page-404 {
    .page-message {
      margin-top: 54px;
      margin-bottom: 40px;
      h1{
        margin: 70px 0;
      }
    }
    .glyph-container {
      position: absolute;
      right: 0;
      top: 40px;
      margin: 0;
      padding: 0;
      height: 128px;
      img {
        width: auto;
        height: 100%;
      }
    }
  }

}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {
  .page-404 {
    .page-message {
      margin-top: 120px;
      margin-bottom: 120px;
    }
  }
}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) {

}