@import "../variables.scss";

//Main container
.page-activity-list {

  margin-top: 96px;

  .map-box {
    height: 400px;
    background-color: $color-text-grey;
  }

  .combined-form {
    margin-top: 40px;
  }

  .mosaic {
    margin-top: 40px;
  }
}

