@import "../variables.scss";

//Main container
.page-activity-view {
  .activity-cover {
    height: 650px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    img.activity-cover-image {
      width: 100%;
      display: block;
    }
    .activity-cover-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .back-button {
        margin-top: 20px
      }
      .bottom-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 40px;
        div.show-photos-button {
          float: left;
        }
        div.action-buttons {
          float: right;
        }
      }
    }
  }

  .activity-description {

    .activity-description-title {
      .title {
        margin-bottom: 20px;
        h1 {
          margin: 0;
          padding: 0;
          font-size: 24px;
          line-height: 36px;
        }
      }
      div.params {
        display: flex;
        .param {
          flex: 0 0 25%;
          i {
            margin-right: 8px;
          }
        }
      }
    }

    .activity-description-rating {
      line-height: 1.5em;
      .rating {
        display: flex;
        .rating-value {
          width: 48px;
          height: 48px;
          background-color: $color-brand-yellow;
          font-weight: bold;
          font-size: $font-size-big;
          text-align: center;
          padding: 12px 0;
          border-radius: $border-radius-button;
          overflow: hidden;
          box-sizing: border-box;
          margin-right: 12px;
        }
      }
      .schedule {
        display: flex;
        .schedule-marker {
          width: 48px;
          height: 48px;
          font-weight: bold;
          font-size: $font-size-big;
          text-align: center;
          padding: 12px 0;
          border-radius: $border-radius-button;
          border: 2px solid $color-text-default;
          overflow: hidden;
          box-sizing: border-box;
          margin-right: 12px;
        }
      }
    }

    .activity-description-info {
      line-height: 1.5em;
      .company-info {
        display: flex;
        .company-logo {
          width: 48px;
          height: 48px;
          background-color: $color-text-grey;
          font-weight: bold;
          font-size: $font-size-big;
          text-align: center;
          padding: 12px 0;
          border-radius: $border-radius-button;
          overflow: hidden;
          box-sizing: border-box;
          margin-right: 12px;
        }

        .company-registered {
          margin-top: 4px;
          font-size: $font-size-small;
        }
      }
      .activities-info {
        .activities-count {
          font-size: $font-size-small;
        }
        .usage-statistics {
          margin-top: 4px;
          font-size: $font-size-small;
        }
      }
    }

    .activity-description-video {
      .video {
        position: relative;
        height: 380px;
        background-color: $color-brand-board;
      }
    }

    .activity-description-checked {
      .checked-icon {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: middle;
        background-color: $color-brand-yellow;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        overflow: hidden;
        text-align: center;
        font-size: $font-size-small;
        position: relative;
        top: -2px;
        padding-top: 2px;
        margin-right: 12px;
      }
      span.check-date {
        display: inline-block;
        float: right;
        color: $color-text-grey;
      }
    }

    .activity-description-about {
      p {
        margin: 0;
        margin-bottom: 2em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .activity-description-map {
      .map {
        width: 100%;
        height: 400px;
      }
    }

    .activity-description-feedbacks {
      h2 {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: $font-size-big;
      }
      .feedback-list {
        margin-top: 20px;
        .feedback-card {
          border-top: 1px solid $color-brand-border;
          .feedback-header {
            display: flex;
            line-height: 1.5em;
            .feedback-author {
              margin-right: 40px;
              padding: 20px 0;
              display: flex;
              .feedback-author-photo {
                width: 48px;
                height: 48px;
                background-color: $color-text-grey;
                font-weight: bold;
                font-size: $font-size-big;
                text-align: center;
                border-radius: 50%;
                overflow: hidden;
                box-sizing: border-box;
                margin-right: 12px;
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
              .feedback-author-info {
                .feedback-author-name {
                  font-weight: bold;
                }
                .feedback-date {
                  color: $color-text-grey;
                }
              }
            }
            .feedback-marks {
              padding: 20px 0;
              display: flex;
              position: relative;
              .feedback-mark {
                min-width: 33%;
                padding: 0 12px 0 12px;
                .feedback-mark-value {
                  color: $color-brand-green;
                  text-align: center;
                  font-weight: bold;
                }
                .feedback-mark-param {
                  text-align: center;
                  color: $color-text-grey;
                  font-size: $font-size-small;
                  font-weight: bold;
                }
              }
            }
          }

          .feedback-body {
            padding: 12px 0 20px 0;
          }

          .feedback-actions {
            button {
              color: $color-text-grey
            }
          }

          .feedback-response {
            padding-left: 40px;
            margin-bottom: 20px;
            .feedback-response-header {
              padding: 20px 0;
              font-weight: bold;
              .feedback-response-date {
                display: block;
                float: right;
                font-weight: normal;
                color: $color-text-grey;
              }
            }
          }
        }
      }

      .feedback-more {
        border-top: 1px solid $color-brand-border;
        padding-top: 20px;
        text-align: center;
        button {
          font-weight: bold;
        }
      }
    }

  }

  .activity-booking {

  }

  .similar-activities {
    h2 {
      font-size: $font-size-h4;
    }
  }

  .activity-booking {
    h2 {
      margin: 0;
      font-size: $font-size-big;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-brand-border;
    }
    .filter-form {
      padding-top: 20px;
    }
    div.results-count {
      margin-top: 20px;
      font-size: $font-size-small;
    }

    .table {
      margin-top: 10px;
      border-collapse: collapse;
      display: table;
      .thead {
        display: table-header-group;
      }
      .tfoot {
        display: table-footer-group;
      }
      .tbody {
        display: table-row-group;
      }
      .tr {
        display: table-row;
      }
      .td, .th {
        display: table-cell;
        padding: 16px 20px;
        border: 1px solid $color-brand-border;
        vertical-align: top;
        position: relative;
      }
      .th {
        font-weight: bold;
        text-align: center;
        color: $color-text-grey;
      }

      .price {
        font-weight: bold;
        text-align: right;
        min-width: 70px;
      }

      .quantity-selector {
        display: flex;
        button, input {
          display: block;
          font-family: inherit;
          padding: 4px;
          border: 1px solid $color-brand-border;
          background-color: transparent;
        }
        button {
          cursor: pointer;
          width: 28px;
          text-align: center;
        }
        input {
          display: block;
          width: 36px;
        }
      }

      div.tariff-card {
        display: flex;
        div.tariff-image {
          height: 36px;
          width: 36px;
          min-width: 36px;
          background-color: $color-brand-board;
          border-radius: 50%;
          margin-right: 10px;
          overflow: hidden;
          box-sizing: border-box;
        }
        div.tariff-info {
          .tariff-title {
            color: $color-brand-blue;
          }
          .tariff-options {
            margin-top: 12px;
            display: flex;
            font-size: $font-size-small;
          }

          .tariff-promo {
            margin-top: 12px;
            display: flex;
          }
        }
      }

    }

    .one-button-line {
      margin-top: 20px;
    }
  }

}

//Mobile styles
@media (max-width: $width-max-m) {
  .page-activity-view {
    .activity-cover {
      height: 568px;
    }
  }
}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {

}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) {

}