@import "../variables.scss";

//Main container
.page-activity-list{

}

.map-box{
  height:400px;
  margin-bottom: 40px;
  background-color: $color-text-grey;
}

.combined-form{
  margin-bottom: 40px;
}