@import "../variables.scss";

.checked-icon {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  background-color: $color-brand-yellow;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-align: center;
  font-size: $font-size-small;
  position: relative;
  top: -2px;
  padding-top: 2px;
  i {
    position: relative;
    top: -5px;
    line-height: 0;
    margin: 0;
    padding: 0;

  }
}

//Main container
.page-activity-view {
  .activity-cover {
    height: 650px;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
    img.activity-cover-image {
      width: 100%;
      display: block;
    }
    .activity-cover-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .back-button {
        margin-top: 20px
      }
      .bottom-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: 40px;
        .show-photos-button {
          float: left;
        }
        .action-buttons {
          float: right;
        }
      }
    }
  }

  .activity-description {

    .activity-description-title {
      .title {
        display: flex;
        margin-bottom: 20px;
        position: relative;
        h1 {
          margin: 0;
          padding: 0;
          font-size: 24px;
          line-height: 36px;
          flex: 0 0 85%;
        }

        .check-icon-container {
          flex: 0 0 15%;
          height: 100%;
          position: relative;
          text-align: right;
        }
      }
      .params {
        display: block;
        .param {
          display: inline-block;
          margin-right: 40px;
          &:last-child {
            margin-right: 0;
          }
          i {
            margin-right: 8px;
          }
        }
      }
    }

    .activity-description-rating {
      line-height: 1.5em;
      .rating {
        display: flex;
        .rating-value {
          width: 48px;
          height: 48px;
          background-color: $color-brand-yellow;
          font-weight: bold;
          font-size: $font-size-default;
          text-align: center;
          padding: 12px 0;
          border-radius: $border-radius-button;
          overflow: hidden;
          box-sizing: border-box;
          margin-right: 12px;
        }
      }
      .schedule {
        display: flex;
        .schedule-marker {
          width: 48px;
          height: 48px;
          font-weight: bold;
          font-size: $font-size-big;
          text-align: center;
          padding: 12px 0;
          border-radius: $border-radius-button;
          border: 2px solid $color-text-default;
          overflow: hidden;
          box-sizing: border-box;
          margin-right: 12px;
        }
        .info-icon {
          font-size: $font-size-big;
        }
      }
    }

    .activity-description-info {
      line-height: 1.5em;
      .company-info {
        display: flex;
        .company-logo {
          width: 52px;
          height: 52px;
          background-color: $color-brand-board;
          font-weight: bold;
          text-align: center;
          padding: 12px 0;
          border-radius: 50%;
          overflow: hidden;
          box-sizing: border-box;
          margin-right: 20px;
        }

        .company-registered {
          margin-top: 4px;
          font-size: $font-size-small;
          color: $color-text-grey;
        }
      }
      .activities-info {
        .activities-count {
          font-size: 14px;
        }
        .usage-statistics {
          margin-top: 4px;
          font-size: 14px;
        }
      }
    }

    .activity-description-video {
      .video {
        position: relative;
        height: 380px;
        background-color: $color-brand-board;
      }
    }

    .activity-description-checked {
      .checked-icon {
        margin-right: 5px;
      }
      span.check-date {
        display: inline-block;
        float: right;
        color: $color-text-grey;
      }
    }

    .activity-description-about {
      line-height: 24px;
      p {
        margin: 0;
        margin-bottom: 2em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .activity-description-map {
      .map {
        width: 100%;
        height: 400px;
      }
    }

    .activity-description-address {
      .pion-icon {
        margin-right: 8px;
      }
    }

    .activity-description-feedbacks {
      h2 {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: $font-size-big;
      }
      .feedback-list {
        margin-top: 20px;
        .feedback-card {
          border-top: 1px solid $color-brand-border;
          .feedback-header {
            display: flex;
            line-height: 1.5em;
            .feedback-author {
              flex: 0 0 50%;
              padding: 20px 0;
              display: flex;
              .feedback-author-photo {
                width: 48px;
                height: 48px;
                background-color: $color-text-grey;
                font-weight: bold;
                font-size: $font-size-big;
                text-align: center;
                border-radius: 50%;
                overflow: hidden;
                box-sizing: border-box;
                margin-right: 12px;
                img {
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
              .feedback-author-info {
                .feedback-author-name {
                  font-weight: bold;
                }
                .feedback-date {
                  color: $color-text-grey;
                }
              }
            }
            .feedback-marks {
              flex: 0 0 50%;
              margin: 20px 0;
              display: flex;
              position: relative;
              border-left: 1px solid $color-brand-border;
              .feedback-mark {
                flex: 0 0 33.3333%;
                padding: 0 2px;
                .feedback-mark-value {
                  color: $color-brand-green;
                  text-align: center;
                  font-weight: bold;
                }
                .feedback-mark-param {
                  text-align: center;
                  color: $color-text-grey;
                  font-size: $font-size-small;
                  font-weight: bold;
                }
              }
            }
          }

          .feedback-body {
            padding: 12px 0 20px 0;
            line-height: 24px;
          }

          .feedback-actions {
            margin-bottom: 20px;
            button {
              color: $color-text-grey
            }
          }

          .feedback-response {
            line-height: 24px;
            //padding-left: 40px;
            margin-bottom: 20px;
            border-top: 1px solid $color-brand-border;
            .feedback-response-header {
              padding: 20px 0;
              font-weight: bold;
              .feedback-response-date {
                display: block;
                float: right;
                font-weight: normal;
                color: $color-text-grey;
              }
            }
            .feedback-response-text {
              color: $color-text-grey;
            }
          }
        }
      }

      .feedback-more {
        border-top: 1px solid $color-brand-border;
        padding-top: 20px;
        text-align: center;
        button {
          font-weight: bold;
        }
      }
    }

  }

  .activity-booking {

  }

  .similar-activities {
    h2 {
      font-size: $font-size-h4;
    }
  }

  .activity-booking {
    h2 {
      margin: 0;
      font-size: $font-size-big;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-brand-border;
    }
    .filter-form {
      padding-top: 20px;
    }
    div.results-count {
      margin-top: 20px;
      font-size: $font-size-small;
    }

    .table {
      margin-top: 10px;
      border-collapse: collapse;
      display: table;
      .thead {
        display: table-header-group;
      }
      .tfoot {
        display: table-footer-group;
      }
      .tbody {
        display: table-row-group;
      }
      .tr {
        display: table-row;
      }
      .td, .th {
        display: table-cell;
        padding: 16px 20px;
        border: 1px solid $color-brand-border;
        vertical-align: top;
        position: relative;
        &.center {
          text-align: center;
          vertical-align: middle;
        }
      }
      .th {
        font-weight: bold;
        text-align: center;
        color: $color-text-grey;
        &.th-tariffs {
          text-align: left;
        }
        .caret {
          display: none;
          font-size: $font-size-big;
          float: right;
          margin-top: 4px;
        }
        &.sort {
          &.sort-asc {
            .caret.caret-asc {
              display: inline-block;
            }
          }
          &.sort-desc {
            .caret.caret-desc {
              display: inline-block;
            }
          }
        }
      }

      .price {
        font-weight: bold;
        text-align: right;
        min-width: 150px;
      }

      .quantity-selector {
        display: flex;
        button, input {
          font-size: $font-size-default;
          display: block;
          font-family: inherit;
          padding: 4px;
          border-top: 1px solid $color-brand-border;
          border-bottom: 1px solid $color-brand-border;
          border-left: 1px solid $color-brand-border;
          border-right: none;
          background-color: transparent;
          width: 32px;
          height: 32px;
          &:last-child {
            border-right: 1px solid $color-brand-border;
          }
        }
        button {
          cursor: pointer;
          text-align: center;
          color: $color-text-grey;
          font-weight: bold;
        }
        input {
          box-sizing: border-box;
          display: block;
          text-align: center;
          font-weight: bold;
        }
      }

      div.tariff-card {
        display: flex;
        div.tariff-image {
          height: 36px;
          width: 36px;
          min-width: 36px;
          background-color: $color-brand-board;
          border-radius: 50%;
          margin-right: 10px;
          overflow: hidden;
          box-sizing: border-box;
        }
        div.tariff-info {
          width: 100%;
          .tariff-title {
            color: $color-brand-blue;
          }
          .tariff-options {
            margin-top: 12px;
            display: flex;
            font-size: $font-size-small;
          }

          .tariff-promo {
            margin-top: 12px;
            display: flex;
          }
        }
      }

    }

    .one-button-line {
      margin-top: 20px;
    }
  }

}

//Mobile styles
@media (max-width: $width-max-i) {
  .page-activity-view {
    .activity-cover {
      margin-bottom: 0;
      height: 568px;
      .activity-cover-content {
        .back-button {
          .button {
            width: 100%;
          }
        }
        .bottom-buttons {
          padding-bottom: 20px;
          .action-buttons {
            float: none;
            span.column {
              display: block;
            }
            button {
              width: 100%;
              padding-left: 0;
              padding-right: 0;
              margin: 0;
              margin-top: 12px;
            }
          }
        }
      }
    }

    .activity-description {

      .activity-description-title {
        .title {
          margin-top: 20px;
          margin-bottom: 20px;
          h1 {
            font-size: 18px;
            line-height: 24px;
          }
        }
        .params {
          display: block;
          .param {
            width: 100%;
            margin-bottom: 8px;
            &.price {
              font-weight: bold;
            }
          }
        }
      }

      .activity-description-rating {
        .column {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .activity-description-info {
        .column {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .activity-description-checked {
        span.check-date {
          display: block;
          margin-top: 8px;
          float: unset;
          font-size: 12px;
          margin-left: 36px;
        }
      }

      .activity-description-map {
        .map {
          height: 298px;
        }
      }

      .activity-description-address {
        div.address {
          display: flex;
          i {
            margin-top: 4px;
            margin-right: 10px;
          }
          span {
            line-height: 24px;
          }
        }
      }

      .activity-description-feedbacks {
        .feedback-list {
          .feedback-card {
            .feedback-header {
              display: block;
              .feedback-author {
                .feedback-date {
                  font-size: 12px;
                }
              }
              .feedback-marks {
                border-left: none;
                border-top: 1px solid $color-brand-border;
                border-bottom: 1px solid $color-brand-border;
                margin: 0;
                padding: 20px;
                .feedback-mark {
                  width: auto;
                  padding: 0;
                }
              }
            }
            .feedback-actions {
              border-top: 1px solid $color-brand-border;
              padding: 20px 0;
            }
            .feedback-response {
              border-top: 1px solid $color-brand-border;
              padding: 0;
              .feedback-response-header {
                .feedback-response-date {
                  display: block;
                  margin-top: 8px;
                  font-size: 12px;
                  float: unset;
                }
              }
            }
          }
        }
      }
    }

    .box.activity-booking {
      .filter-form {
        .column-split {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .table {
        margin-top: 10px;
        border: 1px solid $color-brand-border;
        border-radius: $border-radius-block;
        display: block;
        position: relative;
        .thead {
          display: none;
        }
        .tbody {
          display: block;
          position: relative;
        }
        .td, .th {
          display: block;
          padding: 16px 0;
          border: none;
          vertical-align: top;
          position: relative;
        }
        .th {
          font-weight: bold;
          text-align: center;
          color: $color-text-grey;
        }
        .tr {
          padding: 0;
          border: none;
          border-top: 1px solid $color-brand-border;
          position: relative;

          &:first-child {
            border-top: none;
          }
          .td {
            display: block;
            margin-left: 20px;
            margin-right: 20px;
            padding: 20px 0;

            &.cell-tariff {
              border-bottom: 1px solid $color-brand-border;
              .tariff-card {
                .tariff-info {
                  .tariff-promo {
                    display: block;
                    .width-dec-ml-5 {
                      display: block;
                      width: 100%;
                      flex: 0 0 100%;
                      margin-bottom: 10px;
                      &:last-child {
                        margin-bottom: 0;
                      }
                    }
                  }
                }
              }
            }
            &.cell-price {
              text-align: left;
              float: left;
              .price {
                text-align: left;
              }

            }
            &.cell-quantity {
              .quantity-selector {
                float: right;
              }
            }
          }
        }
      }

    }
  }
}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {

}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) {

}