@import "../variables.scss";

//Main container
.page-blog-article {
  margin-top: 40px;
  margin-bottom: 95px;
  .combined-form {
    margin-bottom: 40px;
  }
  .back-nav {
    margin-bottom: 40px;
  }
  .top-carousel {
    margin-bottom: 40px;
    height: 600px;
  }

  .social-column {
    position: relative;
    .label {
      margin-top: 24px;
      text-align: center;
    }
    .buttons {
      .social-button {
        margin: 0 auto;
        margin-top: 20px;
        display: block;
      }
    }
  }

  article {
    h1 {
      margin: 0;
      padding: 0;
      margin-bottom: 32px;
      font-size: $font-size-h1;
    }
    .article-info {
      display: flex;
      padding-bottom: 20px;
      border-bottom: 1px solid $color-brand-border;
      .author {
        .author-avatar {
          border-radius: 50%;
          overflow: hidden;
          width: 32px;
          height: 32px;
          display: inline-block;
          vertical-align: middle;
          img {
            display: block;
            height: 100%;
            width: 100%;
          }
        }
        .author-name {
          margin-left: 8px;
          display: inline-block;
          vertical-align: middle;
          font-size: $font-size-small;
          font-weight: bold;
        }
      }
      .params {
        display: inline-block;
        vertical-align: middle;
        padding: 6px;
        font-size: $font-size-small;
        .param {
          margin-right: 40px;
          display: inline-block;
          vertical-align: middle;
          color: $color-text-grey;
        }
      }
    }
    .article-body {

      h1, h2, h3, h4 {
        margin-top: 40px;
        margin-bottom: 20px;
      }
      p {
        line-height: 24px;
        margin-bottom: 40px;
      }
      blockquote {
        margin: 0;
        font-weight: bold;
        padding: 0 15%;
        text-align: center;
        margin-bottom: 40px;
        line-height: 24px;
        &:before, &:after {
          display: block;
          height: 1px;
          width: 70%;
          margin: 0 auto;
          background-color: $color-brand-border;
          content: ""
        }
        &:before {
          margin-bottom: 32px;
        }
        &:after {
          margin-top: 32px;
        }
      }
      .carousel {
        height: 400px;
      }
    }
  }

  .next-article {
    margin: 40px 0;
    padding: 30px 0;
    border-top: 1px solid $color-brand-border;
    border-bottom: 1px solid $color-brand-border;
    span {
      color: $color-text-grey;
      font-weight: bold;
    }
    a {
      display: inline-block;
      float: right;
    }

  }

  .section-author-details {
    margin: 40px 0;
    .author-photo {
      .author-photo-container {
        position: relative;
        height: 148px;
        width: 148px;
        text-align: center;
        overflow: hidden;
        border-radius: 50%;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .author-info {
      h2 {
        color: $color-text-grey;
        font-weight: normal;
        font-size: $font-size-default;
      }
      .name {
        font-weight: bold;
        font-size: $font-size-big;
        margin-bottom: 20px;
      }
      .about {
        line-height: 24px;
      }
    }
  }

  .section-comments {
    margin: 40px 0;
    .comments-header {
      font-weight: bold;
      font-size: $font-size-big;
      margin-bottom: 20px;
    }
    .comments-list {
      .comment {
        padding: 20px 0;
        border-top: 1px solid $color-brand-border;
        &:last-child {
          border-bottom: 1px solid $color-brand-border;
        }
        .comment-user-photo {
          position: relative;
          .comment-user-photo-container {
            position: relative;
            width: 80px;
            height: 80px;
            text-align: center;
            overflow: hidden;
            border-radius: 50%;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .comment-data {
          .comment-username {
            display: inline-block;
            font-weight: bold;
            margin-bottom: 8px;
          }
          .reply-info {
            display: inline-block;
            font-size: $font-size-small;
            color: $color-text-grey;
            font-weight: normal;
          }
          .comment-date {
            font-size: $font-size-small;
            color: $color-text-grey;
            margin-bottom: 8px;
          }
          .comment-text {
            margin-bottom: 20px;
            line-height: 24px;
          }
          .comment-actions {
            button {
              margin-right: 40px;
              vertical-align: middle;
              i {
                vertical-align: middle;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .comments-add-form {
      margin-top: 40px;

      .form-header {
        font-weight: bold;
        margin-bottom: 20px;
        font-size: $font-size-big;
        .reply-info {
          margin-left: 10px;
          font-size: $font-size-small;
          color: $color-text-grey;
          font-weight: normal;
        }
      }
      form {
        textarea {
          font-family: inherit;
          font-size: $font-size-default;
          border: 1px solid $color-brand-border;
          border-radius: $border-radius-button;
          padding: 12px;
          background-color: $color-white;
          display:block;
          box-sizing: border-box;
          width: 100%;
          height: 144px;
          resize: none;
          margin-bottom: 20px;
        }
        .button {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }

  }

}

//Carousel
.carousel {
  position: relative;
  overflow: hidden;
  height: 200px;
  .carousel-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: 200;
    .carousel-nav-prev {
      float: left;
      margin-left: 40px;
    }
    .carousel-nav-next {
      float: right;
      margin-right: 40px;
    }
    button {
      position: relative;
      margin: 0;
      padding: 0;
      top: -40px;
      border: none;
      font-size: 80px;
      color: #ffffff;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .carousel-caret {
    display: flex;
    height: 100%;
    .carousel-item {
      width: 100%;
      flex: 0 0 100%;
      position: relative;
      background-color: #e8b663;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

//Mobile styles
@media (max-width: $width-max-m) {
  .page-blog-article {
    margin-bottom: 20px;

    .top-carousel {
      margin-bottom: 40px;
      height: 300px;
    }

    .social-column {
      margin-bottom: 40px;
      position: relative;
      .label {
        margin: 0;
        text-align: left;
      }
      .buttons {
        .social-button {
          display: inline-block;
          margin-top: 8px;
          margin-right: 16px;
        }
      }
    }

    article {
      h1 {
        margin: 0;
        padding: 0;
        margin-bottom: 32px;
        font-size: 28px;
      }
      .article-info {
        display: block;
        .params {
          .param {
            margin-right: 20px;
          }
        }
      }
      .article-body {
        h2 {
          font-size: 24px;
        }
        h3 {
          font-size: 20px;
        }
        h4 {
          font-size: 18px;
        }
        blockquote {
          margin: 0;
          font-weight: bold;
          padding: 0;
          text-align: center;
          margin-bottom: 18px;
          line-height: 24px;
          &:before, &:after {
            display: block;
            height: 1px;
            width: 100%;
            margin: 0 auto;
            background-color: $color-brand-border;
            content: ""
          }
          &:before {
            margin-bottom: 18px;
          }
          &:after {
            margin-top: 18px;
          }
        }

        .carousel {
          height: 200px;
        }
      }

    }

    .next-article {
      margin: 20px 0;
      padding: 20px 0;
      border-top: 1px solid $color-brand-border;
      border-bottom: 1px solid $color-brand-border;
      span {
        color: $color-text-grey;
        font-weight: bold;
        display: block;
        margin-bottom: 6px;
      }
      a {
        display: block;
        float: unset;
      }

    }

    .section-author-details {
      margin: 40px 0;
      display: block;
      .author-photo {
        float: left;
        width: 56px;
        display: block;
        margin-right: 20px;
        .author-photo-container {
          float: left;
          position: relative;
          height: 56px;
          width: 56px;
          text-align: center;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .author-info {
        display: inline;
        h2 {
          color: $color-text-grey;
          font-weight: normal;
          font-size: $font-size-default;
          margin-bottom: 8px;
        }
        .name {
          font-weight: bold;
          font-size: $font-size-big;
          margin-bottom: 20px;
        }
        .about {
          font-size: $font-size-small;
          line-height: 20px;
        }
      }
    }

    .section-comments {
      margin: 40px 0;
      .comments-header {
        font-weight: bold;
        font-size: $font-size-big;
        margin-bottom: 20px;
      }
      .comments-list {
        .comment {
          display: block;
          padding: 20px 0;
          border-top: 1px solid $color-brand-border;
          &:last-child {
            border-bottom: 1px solid $color-brand-border;
          }
          .comment-user-photo {
            float: left;
            width: 48px;
            display: block;
            margin-right: 20px;
            .comment-user-photo-container {
              position: relative;
              width: 48px;
              height: 48px;
              text-align: center;
              overflow: hidden;
              border-radius: 50%;
              img {
                width: 100%;
                height: auto;
              }
            }
          }
          .comment-data {
            .comment-username {
              display: block;
              font-weight: bold;
              margin-bottom: 8px;

            }
            .reply-info {
              display: block;
              font-size: $font-size-small;
              color: $color-text-grey;
              font-weight: normal;
            }
            .comment-date {
              font-size: $font-size-small;
              color: $color-text-grey;
              margin-bottom: 8px;
            }
            .comment-text {
              margin-top: 16px;
              margin-bottom: 20px;
              line-height: 24px;
            }
            .comment-actions {
              button {
                margin-right: 40px;
                vertical-align: middle;
                i {
                  vertical-align: middle;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }

      .comments-add-form {
        margin-top: 40px;

        .form-header {
          font-weight: bold;
          margin-bottom: 20px;
          font-size: $font-size-big;
          .reply-info {
            margin-left: 10px;
            font-size: $font-size-small;
            color: $color-text-grey;
            font-weight: normal;
          }
        }
        form {
          position: relative;
          textarea {
            display:block;
            box-sizing: border-box;
            width: 100%;
            font-family: inherit;
            font-size: $font-size-default;
            border: 1px solid $color-brand-border;
            border-radius: $border-radius-button;
            padding: 12px;
            background-color: $color-white;
            height: 144px;
            resize: none;
            margin-bottom: 20px;
          }
          .button {
            padding-left: 40px;
            padding-right: 40px;
          }
        }
      }

    }

  }
}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {
  .page-blog-article {

    .top-carousel {
      margin-bottom: 40px;
      height: 600px;
    }

    .social-column {
      margin-bottom: 40px;
      position: relative;
      .label {
        margin: 0;
        text-align: left;
      }
      .buttons {
        .social-button {
          display: inline-block;
          margin-top: 8px;
          margin-right: 16px;
        }
      }
    }

    article{
      .article-body{
        .carousel {
          height: 400px;
        }
      }
    }

    .section-author-details {
      margin: 0;
      .author-info {
        h2 {
          color: $color-text-grey;
          font-weight: normal;
          font-size: $font-size-default;
          margin-top: 0;
        }
        .name {
          font-weight: bold;
          font-size: $font-size-big;
          margin-bottom: 20px;
        }
        .about {
          font-size: $font-size-small;
          line-height: 20px;
        }
      }
    }
  }
}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) {

}