@import "../variables.scss";

//Main container
.page-blog-list{
  margin-top: 40px;
  margin-bottom: 95px;
  .combined-form{
    margin-bottom: 40px;
  }
  .city-search{
    margin: 64px 0;
    h1{
      margin:0;
      padding:0;
      margin-top: 10px;
      text-align: center;
    }
    p{
      margin:0;
      padding:0;
      margin-top: 10px;
      text-align: center;
    }
  }
}

//Mobile styles
@media (max-width: $width-max-m) {

}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {

}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) {

}