@import "../variables.scss";

//Main container
.page-orders-list {
  margin-top: 40px;
  .box {
    box-sizing: border-box;
    .box-content {
      position: relative;
      padding: 23px 20px;
      h1 {
        display: inline-block;
        font-size: $font-size-h4;
        line-height: 36px;
        margin: 0;
        padding: 0;
      }
      .previous-toggle {
        margin: 0;
        margin-right: 30px;
        margin-top: 6px;
        margin-bottom: 6px;
        display: inline-block;
        float: right;
      }
    }
  }
}

//Mobile styles
@media (max-width: $width-max-m) {
  //Main container
  .page-orders-list {
    margin-top: 0;
    .box {
      border:none;
      .box-content {
        padding-top: 40px;
        padding-bottom: 40px;
        border:none;
        border-radius: 0;
        h1 {
          text-align: center;
          display: block;
          font-size: 28px;
          margin: 4px 0;
          padding: 0;
        }
        .previous-toggle {
          margin: 0 auto;
          margin-top: 10px;
          display: block;
          text-align: center;
          float: unset;
        }
      }

    }
  }
}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {

}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) {

}