@import "../variables.scss";

//Main container
.page-orders-list {
  margin-top: 40px;
  .box-content {
    h1 {
      display: inline-block;
      font-size: $font-size-h4;
      margin: 4px 0;
      padding: 0;
    }
  }
  .previous-toggle {
    margin: 10px 30px 10px 0;
    display: inline-block;
    float: right;
  }
}

//Mobile styles
@media (max-width: $width-max-m) {

}

//Tablet styles
@media (min-width: $width-min-t) and (max-width: $width-max-t) {

}

//Desktop styles
@media (min-width: $width-min-d) and (max-width: $width-max-d) {

}

//Large desktop styles
@media (min-width: $width-min-l) and (max-width: $width-max-d) {

}