@import "../variables.scss";

.page-profile {

  .profile-menu {
    margin-bottom: 40px;
    background-color: $color-white;
    .column{
      margin-bottom: 0;
    }
    .profile-menu-items {
      display: flex;
      .profile-menu-item {
        flex: 0 0 33.3333%;
        width: 33.3333%;
        text-align: center;
        font-weight: bold;
        font-size: $font-size-default;
        line-height: 32px;
        padding: 24px 0;
        color: $color-text-grey;
        a {
          color: $color-text-grey;
        }
        &.active {
          color: $color-black;
          a {
            color: $color-black;
          }
        }
      }
    }
  }

  .one-button-line {
    margin-top: 32px;
    .button{
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .sub-text {
    margin-top: 20px;
    font-size: $font-size-small;
    text-align: center;
  }

  .column{
    margin-bottom: 20px;
  }

  .profile-photo{
    height: 148px;
    width:148px;
    border-radius:50%;
    overflow: hidden;
    margin: 0 auto;
    background-color: $color-text-grey;
    img {
      width:100%;
      height:auto;
    }

  }

  .cards-list{
    .card-item{
      display: flex;
      width: 100%;
      padding: 20px 0;
      vertical-align: middle;
      border-bottom: 1px solid $color-brand-border;
      .card-num{
        flex: 0 0 50%;
        img{
          margin-right: 20px;
        }
        span{
          font-weight: bold;
        }
      }
      .card-status{
        flex: 0 0 25%;
        text-align: center;
      }
      .card-actions{
        flex: 0 0 25%;
        text-align: center;
        button{
          color: $color-brand-red;
        }
      }
    }
  }



}