extends ./base-modal.pug

block modal-variables
    - var modalId = 'complain-activity-modal';
    - var modalOpened= false;

block modal-body
    div.modal-title Жалоба на развлечение

    div.modal-message
        div.form-group
            div.form-element
                textarea(placeholder="Расскажите, что не так...")
    div.modal-buttons
        button.button.button-yellow.modal-control-open(data-target="complain-sent-modal", type='button') Отправить