extends ./base-modal.pug

block modal-variables
    - var modalId = 'filters-modal';
    - var subclass = 'device-dl-hidden';
    - var modalOpened= false;

block modal-body

    div.modal-title.left.underlined Фильтры

    form
        include ../common/filters-form

        div.form-section
            div.form-group
                div.form-element
                    button.button.button-yellow(type='button') Применить