extends ./base-modal.pug

block modal-variables
    - var modalId = 'restore-password-modal';
    - var modalOpened= false;

block modal-body
    div.modal-title Забыли пароль?
    form
        div.form-section
            div.form-group
                label.form-label Ваш email
                div.form-element
                    input(type="email", placeholder="email@domain.com")
            div.form-button
                button.button.button-yellow.modal-control-open(data-target="reset-password-modal", type='button') Отправить