extends ./base-modal.pug

block modal-variables
    - var modalId = 'select-payment-card-modal';
    - var modalOpened= false;

block modal-body
    div.modal-title Выбрать платежную карту
    div.modal-message
        .cards-list
            .card-item
                .card-num
                    img(src="../../img/card-visa.png")
                    span **** **** **** 1234
                .card-status
                    div.checkbox.checked
                        input(type="hidden")
                        label
                            span.checkbox-button
                                i.zmdi.zmdi-check
                            span.device-m-hidden Использовать

            .card-item
                .card-num
                    img(src="../../img/card-visa.png")
                    span **** **** **** 1234
                .card-status
                    div.checkbox
                        input(type="hidden")
                        label
                            span.checkbox-button
                                i.zmdi.zmdi-check
                            span.device-m-hidden Использовать

    div.modal-buttons
        button.button.button-yellow.modal-control-commit( type='button') Готово
    div.sub-text
        | Добавляя платежную карту, вы соглашаетесь с нашими &nbsp;
        a(href="#", target="_blank") Правилами использования
        | &nbsp; и &nbsp;
        a(href="#", target="_blank") Политикой конфиденциальности