extends ./base-modal.pug

block modal-variables
    - var modalId = 'tariff-modal';
    - var subclass = '';
    - var modalOpened= false;

block modal-body
    div.modal-title Тариф
    div.modal-buttons
        button.button.button-yellow.modal-control-close( type='button') Ok