extends ../layout/layout

append variables
    - var title = 'Бронирование — Igetup';
    - var description = 'Бронирование — Igetup';

block content
    div.page-activity-booking
        div.width-holder
            div.work-area.grid-12-sl.grid-4-t.grid-2-m
                div.columns
                    div.column.grid-12-dl-2
                    div.column.grid-12-dl-8.grid-12-s-12
                        div.one-button-line
                            a.button.button-transparent-black(href="./activity-list.html") Назад к странице развлечений

                        div.box
                            div.box-body
                                .box-title
                                    h1 Выбраный тариф
                        div.box
                            div.box-body
                                .box-title
                                    h1 Кэшбэк
                            div.box-body
                        div.box
                            div.box-body
                                .box-title
                                    h1 Количество участников
                            div.box-body
                        div.box
                            div.box-body
                                .box-title
                                    h1 Доступное время на 24.05.2019
                            div.box-body
                        div.box
                            div.box-body
                                .box-title
                                    h1 Продолжительность в минутах
                            div.box-body
                        div.box
                            div.box-body
                                .box-title
                                    h1 Количество заказов
                            div.box-body
                        div.box
                            div.box-body
                                .box-title
                                    h1 Контактные данные
                            div.box-body
                        div.box
                            div.box-body
                                .box-title
                                    h1 Карта оплаты
                            div.box-body
                        div.box
                            div.box-body
                                .box-title
                                    h1 Комментарии к заказу
                            div.box-body
