extends ../layout/layout

append variables
    - var title = 'Найти развлечения — Igetup';
    - var description = 'Найти развлечения — Igetup';

append scripts
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCMn3GeAkyi7CeXcq7PDkmlhz039LKnVw&callback=initMap", async, defer)

block content
    div.page-activity-list
        div.width-holder
            div.work-area.grid-12-d.grid-6-t.grid-3-m
                div.columns
                    div.column.grid-12-d-3
                        div.form-box
                            form
                                div.form-section
                                    div.form-group
                                        label.form-label Локация
                                        div.form-element
                                            div.dropdown
                                                input(type="hidden")
                                                div.dropdown-value Любой город
                                                    i.zmdi.zmdi-caret-down
                                                    i.zmdi.zmdi-caret-up
                                                div.dropdown-options
                                                    div.dropdown-option.selected Любой город
                                                    div.dropdown-option Москва
                                                    div.dropdown-option Санкт-Петербург
                                                    div.dropdown-option Владивосток
                                                    div.dropdown-option Новосибирск
                                    div.form-group
                                        label.form-label Дата
                                        div.form-element
                                            input(type="date")
                                    div.form-group
                                        label.form-label Категория
                                        div.form-element
                                            div.dropdown
                                                input(type="hidden")
                                                div.dropdown-value Все развлечения
                                                    i.zmdi.zmdi-caret-down
                                                    i.zmdi.zmdi-caret-up
                                                div.dropdown-options
                                                    div.dropdown-option.selected Все развлечения
                                                    div.dropdown-option Экстрим
                                                    div.dropdown-option Спорт
                                                    div.dropdown-option Туризм
                                                    div.dropdown-option Шопинг
                                    div.form-group
                                        label.form-label Цена
                                        div.form-element
                                            div.dropdown
                                                input(type="hidden")
                                                div.dropdown-value Любая стоимость
                                                    i.zmdi.zmdi-caret-down
                                                    i.zmdi.zmdi-caret-up
                                                div.dropdown-options
                                                    div.dropdown-option.selected Любая стоимость
                                                    div.dropdown-option до 1000 руб.
                                                    div.dropdown-option от 1000 до 2000 руб.
                                                    div.dropdown-option от 2000 до 5000 руб.
                                                    div.dropdown-option дороже 5000 руб.
                                    div.form-group
                                        label.form-label Участники
                                        div.form-element
                                            div.dropdown
                                                input(type="hidden")
                                                div.dropdown-value Любое количество
                                                    i.zmdi.zmdi-caret-down
                                                    i.zmdi.zmdi-caret-up
                                                div.dropdown-options
                                                    div.dropdown-option.selected Любое количество
                                                    div.dropdown-option 1 чел.
                                                    div.dropdown-option от 2 до 5 чел.
                                                    div.dropdown-option от 5 до 10 чел.
                                                    div.dropdown-option более 10 чел.
                                div.form-section
                                    div.form-group
                                        div.form-element
                                            div.checkbox.checked
                                                input(type="hidden")
                                                label
                                                    span.checkbox-button
                                                        i.zmdi.zmdi-check
                                                    | Без предоплаты
                                    div.form-group
                                        div.form-element
                                            div.checkbox
                                                input(type="hidden")
                                                label
                                                    span.checkbox-button
                                                        i.zmdi.zmdi-check
                                                    | Бесплатная отмена
                                    div.form-group
                                        div.form-element
                                            div.checkbox
                                                input(type="hidden")
                                                label
                                                    span.checkbox-button
                                                        i.zmdi.zmdi-check
                                                    | Обзор от igetup
                    div.column.grid-12-d-9
                        div.map-box#map
                        div.combined-form
                            div.combined-form-element.dropdown.width-dec-d-5
                                input(type='text', placeholder='Поиск по названию')
                                div.dropdown-options
                                    div.dropdown-option Приключения
                                        div.prompt 9 развлечений
                                    div.dropdown-option Прокат гидроцкилов
                                        div.prompt 26 развлечений
                                    div.dropdown-option Прокат катеров без капитана
                                        div.prompt 11 развлечений
                                    div.dropdown-option Прокатиться на вейкборде
                                        div.prompt 1 развлечение
                                    div.dropdown-option Прогуляться по крышам
                                        div.prompt 2 развлечения
                            div.combined-form-element.width-dec-d-3
                                div.combined-form-input.dropdown
                                    input(type="hidden")
                                    div.dropdown-value По цене (возрастание)
                                        i.zmdi.zmdi-caret-down
                                        i.zmdi.zmdi-caret-up
                                    div.dropdown-options
                                        div.dropdown-option.selected По цене (возрастание)
                                        div.dropdown-option По цене (убывание)
                                        div.dropdown-option По рейтингу (убывание)
                                        div.dropdown-option По рейтингу (возрастание)
                            div.combined-form-element.width-dec-d-2
                                button(type='button') Найти

                        div.mosaic.split
                            each activity, index in activities
                                div.mosaic-element.grid-12-d-3
                                    include ../common/activity-card.pug
