extends ../layout/layout

append variables
    - var title = 'Бронирование — Igetup';
    - var description = 'Бронирование — Igetup';

block content
    div.page-activity-booking
        div.header-height-holder
        section.section-cover
            div.width-holder
                div.work-area
                    div.columns
                        div.column.grid-d-10
                            a(href="#") Назад к странице развлечений
                            form
                                div.section-box
                                    div.section-box-header Выбраный тариф
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Кэшбэк
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Количество участников
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Доступное время на 24.05.2019
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Продолжительность в минутах
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Количество заказов
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Контактные данные
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Карта оплаты
                                    div.section-box-body
                                div.section-box
                                    div.section-box-header Комментарии к заказу
                                    div.section-box-body
