extends ../layout/layout

append variables
    - var title = 'Блог — Igetup';
    - var description = 'Блог — Igetup';

block content
    div.page-blog-list
        div.width-holder
            div.top-section.work-area.grid-12-sl.grid-4-t.grid-2-m

                div.search-form
                    include ../common/blog-search-form.pug

                div.city-search
                    h1 Что делать в Санкт-Петербурге
                    p Советуем и рассказываем чем заняться туристами и местным жителям

            section.work-area.grid-12-sl.grid-4-t.grid-2-i
                div.mosaic
                    each article, index in articles
                        article.mosaic-element.grid-12-sl-4.grid-4-t-2
                            include ../common/article-card.pug
                div.one-button-line
                    a.button.button-yellow(href='#') Показать еще