extends ../layout/layout

append variables
    - var title = 'Статья блога — Igetup';
    - var description = 'Статья блога — Igetup';

block content
    div.page-blog-article
        div.width-holder
            div.work-area.grid-12-sl.grid-4-t.grid-2-m
                div.combined-form
                    div.combined-form-element.dropdown.width-dec-sl-5
                        input(type='text', placeholder='Что ищем сегодня?')
                        div.dropdown-options
                            div.dropdown-option Приключения
                            div.dropdown-option Прокат гидроцкилов
                            div.dropdown-option Прокат катеров без капитана
                            div.dropdown-option Прокатиться на вейкборде
                            div.dropdown-option Прогуляться по крышам
                    div.combined-form-element.width-dec-sl-2
                        div.dropdown
                            input(type="hidden")
                            div.dropdown-value Любой город
                                i.zmdi.zmdi-caret-down
                                i.zmdi.zmdi-caret-up
                            div.dropdown-options
                                div.dropdown-option.selected Любой город
                                div.dropdown-option Москва
                                div.dropdown-option Санкт-Петербург
                                div.dropdown-option Владивосток
                                div.dropdown-option Новосибирск
                    div.combined-form-element.width-dec-sl-2
                        div.dropdown
                            input(type="hidden")
                            div.dropdown-value Любая категория
                                i.zmdi.zmdi-caret-down
                                i.zmdi.zmdi-caret-up
                            div.dropdown-options
                                div.dropdown-option.selected Любая категория
                                div.dropdown-option Новости
                                div.dropdown-option Еда
                                div.dropdown-option Полезные советы
                                div.dropdown-option Концерты
                    div.combined-form-element.width-dec-sl-1
                        button(type='button') Найти

                div.back-nav
                    a.button.button-transparent-black(href="blog-list.html") Назад к списку статей

            div.work-area.grid-12-sl.grid-4-t.grid-2-m
                div.carousel.top-carousel
                    div.carousel-nav
                        div.carousel-nav-prev
                            button
                                i.zmdi.zmdi-chevron-left
                        div.carousel-nav-next
                            button
                                i.zmdi.zmdi-chevron-right
                    div.carousel-caret
                        div.carousel-item
                            img.img(src="../../data/article-carousel1.jpg")
                        div.carousel-item
                            img.img(src="../../data/article-carousel2.jpg")
                        div.carousel-item
                            img.img(src="../../data/article-carousel3.jpg")
                        div.carousel-item
                            img.img(src="../../data/article-carousel4.jpg")
                        div.carousel-item
                            img.img(src="../../data/article-carousel5.jpg")
                div.columns
                    div.social-column.column.grid-12-sl-2
                        div.label Поделиться:
                        div.buttons
                            a.social-button(href='#')
                                i.zmdi.zmdi-vk
                            a.social-button(href='#')
                                i.zmdi.zmdi-facebook
                            a.social-button(href='#')
                                i.zmdi.zmdi-twitter
                            a.social-button(href='#')
                                i.zmdi.zmdi-email
                            a.social-button(href='#')
                                i.zmdi.zmdi-copy

                    div.column.grid-12-sl-8
                        article
                            h1 Лучшие завтраки в Петербурге
                            div.article-info
                                div.author
                                    .author-avatar
                                        img(src="../../data/avatar1.jpg")
                                    .author-name Александр Борисов
                                div.width-dec-ml-5
                                    i.zmdi.zmdi-timer
                                    | &nbsp; 02 Сент 2018
                                div.width-dec-ml-5
                                    i.zmdi.zmdi-label-alt-outline
                                    | &nbsp; Промо-акции
                            div.article-body

                                p Просторная кофейня от ресторатора Михаила Георгиевского («Суп-вино», «Кинг-Понг», «Тесто»),
                                    | где заваривают кофе как классическим, так и альтернативным способом: через воронку харио и колбу кемекс.
                                    | Обстановка для подобных заведений нетипичная — гигантские панорамные окна, внушительное расстояние между столами,
                                    | обилие дерева, а над головой — светильники наподобие летающих тарелок.

                                h2 Заголовок второй

                                p Просторная кофейня от ресторатора Михаила Георгиевского («Суп-вино», «Кинг-Понг», «Тесто»), где заваривают кофе как классическим, так и альтернативным способом: через воронку харио и колбу кемекс.
                                p Обстановка для подобных заведений нетипичная — гигантские панорамные окна, внушительное расстояние между столами, обилие дерева, а над головой — светильники наподобие летающих тарелок.
                                p Здесь можно не только выпить хороший кофе со свежим десертом местного приготовления, но и полноценно пообедать и поужинать — в меню представлены салаты, супы, несколько видов сэндвичей и даже вино.

                                div.carousel
                                    div.carousel-nav
                                        div.carousel-nav-prev
                                            button
                                                i.zmdi.zmdi-chevron-left
                                        div.carousel-nav-next
                                            button
                                                i.zmdi.zmdi-chevron-right
                                    div.carousel-caret
                                        div.carousel-item
                                            img.img(src="../../data/article-carousel5.jpg")
                                        div.carousel-item
                                            img.img(src="../../data/article-carousel4.jpg")
                                        div.carousel-item
                                            img.img(src="../../data/article-carousel3.jpg")
                                        div.carousel-item
                                            img.img(src="../../data/article-carousel2.jpg")
                                        div.carousel-item
                                            img.img(src="../../data/article-carousel1.jpg")

                                h3 Третий заголовок

                                p Просторная кофейня от ресторатора Михаила Георгиевского («Суп-вино», «Кинг-Понг», «Тесто»),
                                    | где заваривают кофе как классическим, так и альтернативным способом: через воронку харио и колбу кемекс.
                                    | Обстановка для подобных заведений нетипичная — гигантские панорамные окна, внушительное расстояние между столами,
                                    | обилие дерева, а над головой — светильники наподобие летающих тарелок.

                                blockquote Здесь можно не только выпить хороший кофе со свежим десертом местного приготовления, но и полноценно пообедать и поужинать — в меню представлены салаты, супы, несколько видов сэндвичей и даже вино.

                                h3 Ещё раз третий

                                p Просторная кофейня от ресторатора Михаила Георгиевского («Суп-вино», «Кинг-Понг», «Тесто»),
                                    | где заваривают кофе как классическим, так и альтернативным способом: через воронку харио и колбу кемекс.
                                    | Обстановка для подобных заведений нетипичная — гигантские панорамные окна, внушительное расстояние между столами,
                                    | обилие дерева, а над головой — светильники наподобие летающих тарелок.

                                h2 И снова второй

                                p Просторная кофейня от ресторатора Михаила Георгиевского («Суп-вино», «Кинг-Понг», «Тесто»), где заваривают кофе как классическим, так и альтернативным способом: через воронку харио и колбу кемекс.
                                p Обстановка для подобных заведений нетипичная — гигантские панорамные окна, внушительное расстояние между столами, обилие дерева, а над головой — светильники наподобие летающих тарелок.
                                p Здесь можно не только выпить хороший кофе со свежим десертом местного приготовления, но и полноценно пообедать и поужинать — в меню представлены салаты, супы, несколько видов сэндвичей и даже вино.


                        div.next-article
                            span Следующая статья:
                            a(href="#") 10 предысторий известных киногероев

                        div.section-author-details.column-split
                            div.author-photo.column.grid-12-sl-2
                                div.author-photo-container
                                    img(src="../../data/avatar1.jpg")
                            div.author-info.column.grid-12-sl-6
                                h2 Об авторе
                                div.name Петр Мясник
                                div.about Специалист в области кулинарии и ресторанного бизнеса, колумнист «Великой еды». В сферу его интересов входит оценка кухни, винной карты, уровня обслуживания, интерьера и общей атмосферы заведений.

                        div.section-comments

                            div.comments-header 10 комментариев

                            div.comments-list
                                div.comment.column-split
                                    div.comment-user-photo.column.grid-12-sl-1
                                        div.comment-user-photo-container
                                            img(src="../../data/avatar1.jpg")
                                    div.comment-data.column.grid-12-sl-7
                                        div.comment-username Иван Петров
                                        div.comment-date 22 сен 2018 22:45
                                        div.comment-text В 2003-м году итальянский ресторанный критик Эдуардо Распелли (итал. Edoardo Raspelli) выступил с резкими заявлениями относительно качества блюд в ресторанах быстрого питания McDonald’s, назвав Биг Мак «скотской пищей», а картофель-фри «похабной и отдающей вкусом бумаги». Юристы McDonald’s подали в суд, оценив нанесенный компании моральный ущерб в 20 миллионов долларов[1].
                                        div.comment-actions
                                            button.link
                                                i.zmdi.zmdi-mail-reply
                                                | Ответить
                                            button.link
                                                i.zmdi.zmdi-close
                                                | Удалить
                                div.comment.column-split
                                    div.comment-user-photo.column.grid-12-sl-1
                                        div.comment-user-photo-container
                                            img(src="../../data/avatar1.jpg")
                                    div.comment-data.column.grid-12-sl-7
                                        div.comment-username Иван Петров
                                            span.reply-info &nbsp;в ответ на сообщение
                                                a(href="#") &nbsp;Петра Иванова
                                        div.comment-date 22 сен 2018 22:45
                                        div.comment-text В 2003-м году итальянский ресторанный критик Эдуардо Распелли (итал. Edoardo Raspelli) выступил с резкими заявлениями относительно качества блюд в ресторанах быстрого питания McDonald’s, назвав Биг Мак «скотской пищей», а картофель-фри «похабной и отдающей вкусом бумаги». Юристы McDonald’s подали в суд, оценив нанесенный компании моральный ущерб в 20 миллионов долларов[1].
                                        div.comment-actions
                                            button.link
                                                i.zmdi.zmdi-mail-reply
                                                | Ответить
                                            button.link
                                                i.zmdi.zmdi-close
                                                | Удалить

                            div.comments-add-form
                                div.form-header Оставить комментарий
                                    span.reply-info &nbsp;в ответ на сообщение
                                        a(href="#") &nbsp;Петра Иванова
                                form
                                    textarea(placeholder="Ваш комментарий")
                                    button.button.button-yellow Отправить