extends ../layout/layout

append variables
    - var title = 'Избранное — Igetup';
    - var description = 'Избранное — Igetup';

block content
    div.page-favourites-list
        div.width-holder
            div.work-area.grid-12-sl.grid-4-t.grid-2-m
                div.combined-form
                    div.combined-form-element.dropdown.width-dec-sl-5
                        input(type='text', placeholder='Поиск по названию')
                        div.dropdown-options
                            div.dropdown-option Приключения
                                div.prompt 9 развлечений
                            div.dropdown-option Прокат гидроцкилов
                                div.prompt 26 развлечений
                            div.dropdown-option Прокат катеров без капитана
                                div.prompt 11 развлечений
                            div.dropdown-option Прокатиться на вейкборде
                                div.prompt 1 развлечение
                            div.dropdown-option Прогуляться по крышам
                                div.prompt 2 развлечения
                    div.combined-form-element.width-dec-sl-3
                        div.combined-form-input.dropdown
                            input(type="hidden")
                            div.dropdown-value По цене (возрастание)
                                i.zmdi.zmdi-caret-down
                                i.zmdi.zmdi-caret-up
                            div.dropdown-options
                                div.dropdown-option.selected По цене (возрастание)
                                div.dropdown-option По цене (убывание)
                                div.dropdown-option По рейтингу (убывание)
                                div.dropdown-option По рейтингу (возрастание)
                    div.combined-form-element.width-dec-sl-2
                        button(type='button') Найти

                div.mosaic.column-split
                    each activity, index in activities
                        div.mosaic-element.grid-12-dl-3.grid-12-s-4.grid-4-t-2.grid-2-m-2
                            include ../common/activity-card.pug
