extends ../layout/layout

append variables
    - var title = 'Мои бронирования — Igetup';
    - var description = 'Мои бронирования — Igetup';

block content
    div.page-orders-list
        div.width-holder
            div.work-area
                div.section-box
                    div.section-box-content
                        h1 Мои бронирования
                        div.checkbox.righted
                            input(type="hidden")
                            label
                                span.checkbox-button
                                    i.zmdi.zmdi-check
                                | Прошлые бронирования
                div.mosaic
                    each activity, index in activities
                        div.mosaic-element.grid-d-3
                            include ../common/activity-card