extends ../layout/layout

append variables
    - var title = 'Мои бронирования — Igetup';
    - var description = 'Мои бронирования — Igetup';

block content
    div.page-orders-list
        div.width-holder
            div.work-area.grid-12-d.grid-6-t.grid-3-m
                div.box
                    div.box-content
                        h1 Мои бронирования
                        div.previous-toggle
                            div.checkbox
                                input(type="hidden")
                                label
                                    span.checkbox-button
                                        i.zmdi.zmdi-check
                                    | Прошлые бронирования
                div.mosaic
                    each activity, index in activities
                        div.mosaic-element.grid-12-d-3
                            include ../common/activity-card-order.pug