extends ../layout/profile-edit

append variables
    - var title = 'Редактирование профиля: Телефон — Igetup';
    - var description = 'Редактирование профиля: Телефон — Igetup';
    - var active_point = 2;

block profile-section
    div.page-profile-register
        div.width-holder
            div.work-area.grid-12-sl.grid-4-t.grid-2-i
                div.columns
                    div.column.grid-12-dl-2
                    div.column.grid-12-dl-8.grid-12-s-12
                        div.box
                            div.box-body
                                .box-title
                                    h1 Редактирование номера телефона
                                div.column-split
                                    div.column.grid-12-dl-4.grid-12-s-6.grid-4-t-2.grid-4-t-first
                                        div.form-group
                                            label.form-label Текущий номер телефона
                                            div.form-element
                                                input(type="text", value="+7 (956) 123 45 66")
                                div.column-split
                                    div.column.grid-12-dl-4.grid-12-s-6.grid-4-t-2.grid-4-t-first
                                        div.form-group
                                            label.form-label Новый номер телефона
                                            div.form-element
                                                input(type="text", placeholder="+7 (xxx) xxx xx xx")
                                    div.column.grid-12-dl-4.grid-12-s-6.grid-4-t-2.grid-4-t-first
                                        div.form-group.no-label
                                            button.button.button-black(type="button") Выслать код
                                div.column-split
                                    div.column.grid-12-dl-4.grid-12-s-6.grid-4-t-2.grid-4-t-first
                                        div.form-group
                                            label.form-label Код подтверждения
                                            div.form-element
                                                input(type="text", placeholder="xxxxxx")

                                div.one-button-line
                                    button.button.button-yellow(type="button") Подтвердить

                                div.sub-text
                                    | Подтверждая номер телефона, вы соглашаетесь с нашими &nbsp;
                                    a(href="#",target="_blank") Правилами использования
                                    | &nbsp; и &nbsp;
                                    a(href="#",target="_blank") Политикой конфиденциальности

                    div.column.grid-12-dl-2