extends html-document

block variables
    - var is_homepage = false
    - var is_authorized = true
    - var has_notifications = true

block stylesheets
    link(rel='stylesheet', href='../../scss/style.css')

block scripts
    script(src='../../vendor/jquery-3.3.1.min.js')
    script(src='../../js/emulator.js')

block links
    link(rel='icon', type='image/x-icon' href='../../img/favicon.ico')

block body
    block header
        include ../common/header
    block content
    block footer
        include ../common/footer