extends html-document

block variables
    - var is_homepage = false
    - var is_authorized = true
    - var has_notifications = true
    -
        var activities = [
        {
        title: 'Комната с енотами',
        image: '../../data/fun1.jpg',
        has_rating: true
        },
        {
        title: 'Тир из огнестрельного оружия',
        image: '../../data/fun2.jpg',
        has_rating: true
        },
        {
        title:"Прокат гидроциклов",
        image: '../../data/fun3.jpg',
        has_rating: false
        },
        {
        title:"Дрифт-такси на автодроме",
        image: '../../data/fun4.jpg',
        has_rating: true
        },
        {
        title: 'Комната с енотами',
        image: '../../data/fun1.jpg',
        has_rating: true
        },
        {
        title: 'Тир из огнестрельного оружия',
        image: '../../data/fun2.jpg',
        has_rating: true
        },
        {
        title:"Прокат гидроциклов",
        image: '../../data/fun3.jpg',
        has_rating: false
        },
        {
        title:"Дрифт-такси на автодроме",
        image: '../../data/fun4.jpg',
        has_rating: true
        },
        {
        title: 'Комната с енотами',
        image: '../../data/fun1.jpg',
        has_rating: true
        },
        {
        title: 'Тир из огнестрельного оружия',
        image: '../../data/fun2.jpg',
        has_rating: true
        },
        {
        title:"Прокат гидроциклов",
        image: '../../data/fun3.jpg',
        has_rating: false
        },
        {
        title:"Дрифт-такси на автодроме",
        image: '../../data/fun4.jpg',
        has_rating: true
        }
        ]
    -
        var articles = [
            {
            title: 'Лучшие завтраки в Петербурге',
            description: 'Овсяная каша с клубникой и амарантовая — на топленом молоке, малиновые ньокки со свежими ягодами, блюда из яиц.',
            image: '../../data/art1.jpg'
            },
            {
            title: '10 предысторий известных киногероев',
            description: 'В прокат выходит приключенческий экшен «Робин Гуд: Начало» с Тэроном Эджертоном, рассказывающий предысторию благородного разбойника из Шервудского леса. «Афиша» нашла еще несколько приквелов про популярных персонажей.',
            image: '../../data/art2.jpg'
            },
            {
            title: 'Как повзрослеть вместе с ребенком',
            description: 'Как найти подход к подросткам, договориться с маленькими упрямцами и не сойти с ума: «Афиша Дети» рассказывает о пяти книгах, которые помогут родителям повзрослеть вместе с детьми.',
            image: '../../data/art3.jpg'
            },
            {
            title: 'Лучшие завтраки в Петербурге',
            description: 'Овсяная каша с клубникой и амарантовая — на топленом молоке, малиновые ньокки со свежими ягодами, блюда из яиц.',
            image: '../../data/art1.jpg'
            },
            {
            title: '10 предысторий известных киногероев',
            description: 'В прокат выходит приключенческий экшен «Робин Гуд: Начало» с Тэроном Эджертоном, рассказывающий предысторию благородного разбойника из Шервудского леса. «Афиша» нашла еще несколько приквелов про популярных персонажей.',
            image: '../../data/art2.jpg'
            },
            {
            title: 'Как повзрослеть вместе с ребенком',
            description: 'Как найти подход к подросткам, договориться с маленькими упрямцами и не сойти с ума: «Афиша Дети» рассказывает о пяти книгах, которые помогут родителям повзрослеть вместе с детьми.',
            image: '../../data/art3.jpg'
            }
        ]

block stylesheets
    link(rel='stylesheet', href='../../scss/style.css')

block scripts
    script(src='../../vendor/jquery-3.3.1.min.js')
    script(src='../../js/emulator.js')

block links
    link(rel='icon', type='image/x-icon' href='../../img/favicon.ico')

block body
    block header
        include ../common/header.pug
    block content
    block footer
        include ../common/footer.pug
    block modals
        include ../modals/add-payment-card-modal.pug
        include ../modals/booking-success-modal.pug
        include ../modals/complain-activity-modal.pug
        include ../modals/complain-feedback-modal.pug
        include ../modals/complain-sent-modal.pug
        include ../modals/error-modal.pug
        include ../modals/filters-modal.pug
        include ../modals/login-register-modal.pug
        include ../modals/reset-password-modal.pug
        include ../modals/restore-password-modal.pug
        include ../modals/select-payment-card-modal.pug
        include ../modals/share-modal.pug
        include ../modals/subscrption-modal.pug