
//Screen widths

//M - mobile
$width-min-m: 0;
$width-max-m: 767px;

//T - tablet
$width-min-t: 768px;
$width-max-t: 1024px;

//S - small screen
$width-min-s: 1025px;
$width-max-s: 1479px;

//D - desktop
$width-min-d: 1480px;
$width-max-d: 1824px;

//L - large screen
$width-min-l: 1824px;
$width-max-l: 3000px;

// Define breakpoints
$grid-breakpoints: (
        m: (min:$width-min-m ,max: $width-max-m),
        t: (min:$width-min-t ,max: $width-max-t),
        s: (min:$width-min-s ,max: $width-max-s),
        d: (min:$width-min-d ,max: $width-max-d),
        l: (min:$width-min-l ,max: $width-max-l),
        mt: (min:$width-min-m ,max: $width-max-t),
        ts: (min:$width-min-t ,max: $width-max-s),
        sd: (min:$width-min-s ,max: $width-max-d),
        ml: (min:$width-min-m ,max: $width-max-l),
        tl: (min:$width-min-t ,max: $width-max-l),
        dl: (min:$width-min-d ,max: $width-max-l),
        sl: (min:$width-min-s ,max: $width-max-l),
) !default;

//Colors
$color-black: #000000;
$color-white: #FFFFFF;
$color-brand-yellow: #FBC00D;
$color-brand-red: #D0021B;
$color-brand-green: #33AA58;
$color-brand-blue: #4A90E2;
$color-brand-background: #F6F7F9;
$color-brand-board: #232630;
$color-brand-border: #E6EAEE;
$color-brand-border-strong: #979797;
$color-text-default: #232630;
$color-text-grey: rgba(35, 38, 48, 0.5);

$modal-opacity: 0.5;

//Font size
$font-size-default: 16px;
$font-size-big: 18px;
$font-size-small: 12px;
$font-size-tiny: 10px;

$font-size-h1: 48px;
$font-size-h2: 40px;
$font-size-h3: 32px;
$font-size-h4: 24px;

$border-radius-min: 2px;
$border-radius-button: 5px;
$border-radius-block: 10px;