div.activity-card.mosaic-element.grid-d-3
    div.activity-cover
        div.activity-like-mark
            i.zmdi.zmdi-check
        div.activity-discount-bage Kэшбэк 10%
            i.zmdi.zmdi-check
        div.activity-cover-bages
            div.no-prepayment-bage
                i.zmdi.zmdi-shield-check
                | Без предоплаты
            div.no-prepayment-bage
                i.zmdi.zmdi-shield-check
                | Без предоплаты
    div.activity-card-basics
        div.activity-company ООО Паспорту
        div.activity-name
            a(href="#") Комната с енотами
        div.activity-address
            i.zmdi.zmdi-pin
            | Санкт-Петербург, ул. Воссотания 6
    div.activity-info
        span.activity-category Экстрим
        span.activity-price от 2500 руб.
    div.activity-meta
        span.activity-rating 8.7
        span.activity-views 117
        div.activity-latest-comment
            img(src="../../data/user-avatar.jpg")
            p.comment Было очень круто! Надеюсь прийти ещё...