-
    var default_activity = {
    title: 'Комната с енотами',
    image: '../../data/fun1.jpg',
    has_rating: true
    }

- var index = index ? index : 1
- var activity = activity ? activity : default_activity

div.flip-container
    div.activity-card.flipper
        div.averse
            div.activity-card-section.activity-card-cover
                img.activity-card-cover-image(src=activity.image)
                div.status-indicator
                    if (index + 3) % 3 == 0
                        div.status-mark.rejected
                            i.zmdi.zmdi-close
                        div.status-text Отменено сервисом
                    if (index + 3) % 3 == 1
                        div.status-mark.accepted
                            i.zmdi.zmdi-check
                        div.status-text Подтверждено представителем
                    if (index + 3) % 3 == 2
                        div.status-mark.pending
                            i.zmdi.zmdi-more
                        div.status-text Ожидает подтверждения
                if (index + 3) % 3 == 1
                    div.download-ticket
                        a.button.button-white.button-small(href="#") Скачать PDF

            div.activity-card-section.activity-card-basics
                div.activity-company ООО Паспорту
                div.activity-name
                    a(href="#") #{activity.title}
                div.activity-address
                    i.zmdi.zmdi-pin
                    | &nbsp; Санкт-Петербург, ул. Воссотания 6

            div.activity-card-section.activity-card-param
                span.activity-param-name Заказ №
                span.activity-param-value 14568

            div.activity-card-section.activity-card-param
                span.activity-param-name Дата
                span.activity-param-value 12.08.19

            div.activity-card-section.activity-card-param
                span.activity-param-name Стоимость
                span.activity-param-value 12 900 &#8381;

            div.activity-card-section.activity-card-order
                div.description 1 комната с 2 енотами + корм, вместе с инструктором по жизни
                div.options
                    div.width-dec-d-5
                        i.zmdi.zmdi-account-o
                        | &nbsp; 1-2 человека
                    div.width-dec-d-5
                        i.zmdi.zmdi-timer
                        | &nbsp; 120 минут
            div.activity-card-section.activity-card-actions
                div.width-dec-d-5
                    if (index + 2) % 2 == 1
                        button.link.flip-toggle
                            strong Сообщения
                            | &nbsp; (5)
                    if (index + 2) % 2 == 0
                        button.link.flip-toggle Сообщения
                div.width-dec-d-5.decline
                    button.link.red Отменить

        div.reverse
            div.box.chat-box
                div.box-header.chat-header
                    div.chat-close
                        i.zmdi.zmdi-close.flip-toggle
                    div.chat-title Сообщения
                    div.chat-order № 145678 - #{activity.title}
                div.box-body 123123
                div.box-footer 123123