div.combined-form.columns
    div.combined-form-element.dropdown.width-dec-sl-5.column.grid-4-t-4.grid-4-t-single
        input(type='text', placeholder='Что ищем сегодня?')
        div.dropdown-options
            div.dropdown-option Приключения
            div.dropdown-option Прокат гидроцкилов
            div.dropdown-option Прокат катеров без капитана
            div.dropdown-option Прокатиться на вейкборде
            div.dropdown-option Прогуляться по крышам
    div.combined-form-element.width-dec-sl-2.column.grid-4-t-2.grid-4-t-first
        div.dropdown
            input(type="hidden")
            div.dropdown-value Любой город
                i.zmdi.zmdi-caret-down
                i.zmdi.zmdi-caret-up
            div.dropdown-options
                div.dropdown-option.selected Любой город
                div.dropdown-option Москва
                div.dropdown-option Санкт-Петербург
                div.dropdown-option Владивосток
                div.dropdown-option Новосибирск
    div.combined-form-element.width-dec-sl-2.column.grid-4-t-2.grid-4-t-last
        div.dropdown
            input(type="hidden")
            div.dropdown-value Любая категория
                i.zmdi.zmdi-caret-down
                i.zmdi.zmdi-caret-up
            div.dropdown-options
                div.dropdown-option.selected Любая категория
                div.dropdown-option Новости
                div.dropdown-option Еда
                div.dropdown-option Полезные советы
                div.dropdown-option Концерты
    div.combined-form-element.width-dec-sl-1.column.grid-4-t-4.grid-4-t-single
        button(type='button') Найти