footer.footer
    div.width-holder
        div.columns
            div.column.grid-n-4
                nav.columns.subcolumn
                    div.column.grid-n-2
                        img(src="../../img/logo.png")
                    div.column.grid-n-2
                        div.footer-social-links
                            a(href="#") Facebook
                            a(href="#") Twitter
                            a(href="#") Instagram
                            a(href="#") VKontakte
                div.columns.subcolumn
                    div.column.grid-n-2
                        a(href="#", target="_blank") Правила использования
                    div.column.grid-n-2
                        a(href="#", target="_blank") Политика конфиденциальности
            div.column.grid-n-3
                h2 Подписаться на новости и акции
                form.subscription-form
                    input(type="email",placeholder="Введите ваш email")
                    button Подписаться
            div.column.grid-n-2
                h2 Вход для партнеров
                a(href="#", target="_blank") Авторизоваться
            div.column.grid-n-3
                h2 Мобильное приложение
                div
                    a(href="#", target="_blank") Google Play
                    a(href="#", target="_blank") AppStore