footer.footer
    div.width-holder
        div.work-area.grid-12-d.grid-6-t.grid-3-m
            div.columns
                div.column.grid-12-d-4
                    div.split
                        div.column.grid-12-d-2
                            img(src='../../img/logo-dark.svg')
                        div.column.grid-12-d-2
                            div.footer-social-links
                                a.social-button(href='#')
                                    i.zmdi.zmdi-facebook
                                a.social-button(href='#')
                                    i.zmdi.zmdi-twitter
                                a.social-button(href='#')
                                    i.zmdi.zmdi-flickr
                                a.social-button(href='#')
                                    i.zmdi.zmdi-vimeo
                    div.split
                        div.column.grid-12-d-2
                            a.grey.small(href='#', target='_blank') Правила использования
                        div.column.grid-12-d-2
                            a.grey.small(href='#', target='_blank') Политика конфиденциальности
                div.column.grid-12-d-3
                    h2 Подписаться на новости и акции
                    form.subscription-form
                        input(type='email',placeholder='Введите ваш email')
                        button(title="Подписаться")
                            i.zmdi.zmdi-check
                div.column.grid-12-d-2
                    h2 Вход для партнеров
                    a.button.button-transparent(href='#', target='_blank') Авторизоваться
                div.column.grid-12-d-3
                    h2 Мобильное приложение
                    div
                        a.button.button-bage(href='#', target='_blank')
                            img(src="../../img/google-play-badge.png")
                        a.button.button-bage(href='#', target='_blank')
                            img(src="../../img/app-store-badge.png")